#navbar-drawer-toggle {
    display: none;
}
#navbar-menu-noDrawer{
    display: flex;
}
@media(max-width: 600px) {
    #navbar-drawer-toggle {
        display: flex;
    }
    #navbar-menu-noDrawer{
        display: none;
    }
}

#Navbar {
}

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 30%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
